body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
	background-color: #eeeeee;
	width: 100%;
}

.header-catalog {
	padding: 0 0 117px 0;
	margin: 0 0 60px 0;
}

a {
	text-decoration: none;
	color: #000000;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items:  center;
	line-height: 30px;
	text-transform: uppercase;
	
	width: 1160px;
	margin: 0 auto;
	padding: 50px 20px 20px 20px;
	
	
}

.site-navigation {
	list-style: none;

	width: 440px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.site-navigation-item {
	margin: 0;
}

.top-section {
	width: 100%;
	background-color: #eeeeee;
}

.container {
	width: 1129px;
	margin: 0 auto 80px auto;

	position: relative;
}

.slider {
	list-style: none;

	margin: 0;
	padding: 0;
}

.slider-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px;
}

.slider-item-first b {
	display: block;
	width: 430px;
}

.slider-item-second b {
	display: block;
	width: 523px;
}

.slider-item-third b {
	display: block;
	width: 420px;
}

.slider-text {
	line-height: 24px;

	max-width: 430px;
  	margin: 0;
  	margin-bottom: 38px;
  	padding: 0;
}


.slider-item {
	display: none;

	padding: 78px 0 80px 0;
	background-color: #eeeeee;
}

.slider-item:nth-child(3) {
	display: block;
}


.slider-item-first {
	background-image: url("../img/slide1.png");
	background-position: 93% 18px;
	background-repeat: no-repeat;
}


.slider-item-second {
	background-image: url("../img/slide2.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.slider-item-third {
	background-image: url("../img/slide3.png");
	background-position: 100% 20px;
	background-repeat: no-repeat;
}

.slider-button {
  	display: block;
  	width: 240px;
  	padding: 13px 0;
  
  	font-size: 16px;
  	line-height: 18px;

  	color: #ffffff;
	background-color: #fb565a;
	text-transform: uppercase;
}

.change-slide {
	display: inline-block;
  	width: 18px;
  	height: 18px;
  	padding: 8px;

  	position: relative;
  	border-radius: 50%;
  	cursor: pointer;

}

.slider-controls i::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-controls .active::before {
  
}

.services {
	width: 1160px;
	margin: 0 auto 40px auto;
	padding: 0 20px 80px 20px;
	
	position: relative;
}

.services::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;

	width: 1160px;
	margin: 0 20px;
	height: 2px;
	background-color: #eeeeee;
}

.services-list {
	list-style: none;
	
	margin: 0;
	padding: 0;
	width: 1110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}



.service-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}

.service-description {
	margin: 0 0 25px 0;
}

.service-item img {
	display: block;
	margin-bottom: 20px;
}

.service-item {
	width: 300px;
}

.order-button {
	color: #ffffff;
	background-color: #fb565a;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
}

.about-us {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto 46px auto;
	padding: 0 20px 75px 20px;
	
	position: relative;
}

.about-us::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;

	width: 1160px;
	margin: 0 20px;
	height: 2px;
	background-color: #eeeeee;
}

.about-us-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin: 0 0 30px 0;
	display: block;
}

.about-us-text {
	width: 660px;
}

.about-us-picture {
	width: 360px;
}

.about-us-description {
	margin: 0 0 45px 0;
}

.order-title {
	font-weight: 700;
	margin: 0 0 30px 0;
}

.order-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.order-list-item {
	margin: 0 0 30px 0;
}

.order-list-item:last-child {
	margin: 0;
}

.nerds-logo {
	margin: 0 0 30px 0;
}

.numeric-data-title {
	font-weight: 700;
	margin: 0 0 45px 0;
}

caption {
	caption-side: top;
}

.numbers {
	font-size: 45px;
	line-height: 47px;
	font-weight: 700;
}

.numbers-title {
	line-height: 18px;
	color: #283136;
}

.numeric-data td {
	margin: 0;
	padding: 0 0 29px 0;
}

.clients {
	margin: 0 auto;
	padding: 0;

	width: 1160px;

	position: relative;	
}

.clients-wrap{
	width: 100%;
	margin: 0 36px;
}	
	
.clients-list {
	list-style: none;

	padding: 0 0 50px 0;
	width: 1088px;
	display: flex;
	justify-content: space-between;	
}

.clients::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;

	width: 1160px;
	margin: 0;
	height: 2px;
	background-color: #eeeeee;
}

.contact-data {
	margin: 0 0 70px 0;
}

.contacts {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;

	margin: 0 0 30px 0;
	padding: 0;
}

.address {
	line-height: 18px;
	color: #666666;

	margin: 0 0 20px 0;
	padding: 0;
}

.phone {
	line-height: 18px;
	color: #666666;

	margin: 0 0 30px 0;
	padding: 0;
}

.map {
	width: 100%;
}

.social-networks {
	width: 960px;
	margin: 0 auto 70px auto;
	display: flex;
	justify-content: space-between;
}

.social-networks-list {
	list-style: none;

	display: flex;
	margin: 0;
	padding: 0;
}

.promo-wrap {
	width: 560px;
}

.promo-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700; 

	margin: 0 0 11px 0;
	padding: 0;
}

.promo-text {
	line-height: 22px;
	color: #444444;

	margin: 0;
	padding: 0;
}

.write-us {
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}

.contact-form {
	width: 760px;
	padding: 80px 100px 84px 100px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.instide-contact-form {
	width: 760px;
}

.name-email-wrap {
	display: flex;
}

.contact-form-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;

	margin: 0 0 50px 0;
	padding: 0;
}


.contact-form label {
	line-height: 18px;
	font-weight: 700;
}

.contact-text {
	line-height: 18px;
	color: #444444;

	margin: 0 0 47px 0;
}

.input-wrap {
	width: 360px;
	margin: 0 0 35px 0;
}

.form-text-wrap {
	display: flex;
	flex-direction: column;
}

.contact-form-submit {
	width: 260px;
}


.main-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;

	width: 750px;
	margin: 0 auto;
	padding: 0;
}

.main-section {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin: 0 auto;
}

.filter {
	width: 260px;
}

.filter-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	padding: 0;
	margin: 0;
}

.filter-price-title {
	margin: 0 0 56px 0;
}

.price-range {
	margin: 0 0 14px 0;
}

.price-range-wrap {
	margin: 0 0 60px 0;
}

.price {
	line-height: 22px;
	color: #283136;
}

.filter-title {
	margin: 0 0 20px 0;
}

.filtering {
	margin: 0;
	padding: 0;
	border: none;
}

.filter-grid-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-grid-list li {
	margin: 0 0 15px 0;
}

.filter-grid-list li:last-child {
	margin: 0;
}

.filtering-grid {
	margin: 0 0 50px 0;
}

.filter-features-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-features-list li {
	margin: 0 0 17px 0;
}

.filter-grid-list li:last-child {
	margin: 0;
}

.filtering-grid {
	margin: 0 0 48px 0;
}

.filter-grid-list label,
.filer-features-list label {
	line-height: 20px;
	color: #283136;
}

.filter-submit,
.themes-page {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #eeeeee;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.sort-list {
	list-style: none;
	display: flex;

	width: 480px;
	margin: 0;
	padding: 0;
}

.sort-list-item {
	font-size: 14px;
	line-height: 18px;
	margin: 0 25px 0 0;
}

.sort-list-item a {
	text-transform: uppercase;
}

.sort-menu {
	display: flex;
	justify-content: space-between;
	margin: 0 0 60px 0;
}

.themes-list {
	list-style: none;
	margin: 0 0 60px 0;
	padding: 0;

	width: 760px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}


.themes-hover {
	background-color: #e1e1e1;
	width: 360px;
	height: 230px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.themes-hover-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;

	margin: 0 0 25px 0;
	padding: 35px 0 0 0;
}

.themes-hover-text {
	line-height: 18px;
	color: #666666;
	text-align: center;

	width: 240px;
	margin: 0 0 30px 0;
	padding: 0;
}

.themes-hover-price {
	margin: 0 auto;
}


.themes-list-navigation {
	list-style: none;

	margin: 0 0 60px 0;
	padding: 0;

	display: flex;
}








.button {
  	font: inherit;
  	font-weight: 500;
  	text-align: center;
  	background-color: #fb565a;
  	color: #ffffff;
  	border: none;
  	border-radius: 3px;
  	outline: none;
  	display: inline-block;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255,255,255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.order-app {
	background-color: #00ca74;
}

.order-app:hover {
	background-color: #00bc6c;
}

.order-app:active {
	color: rgba(255,255,255, 0.3);
	background-color: #00aa62;
}

.order-presentation {
	background-color: #efc849;
}

.order-presentation:hover {
	background-color: #eab534;
}

.order-presentation:active {
	color: rgba(255,255,255, 0.3);
	background-color: #e5a722;
}

.slider-button:active {
	color: rgba(255,255,255, 0.3);
	background-color: #d7373b;
}

.social-networks-list a {
	background-color: #e1e1e1;
}
.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.3;
}

.site-navigation a:hover,
.basket:hover {
	color: #fb565a
}

.site-navigation a:active,
.basket:active {
	color: rgba(0, 0, 0, 0.3)
}

.site-navigation a:visited,
.basket:visited {
	border-bottom: 2px solid #fb565a;
}

.clients-list-item {
	opacity: 0.2;
}

.clients-list-item:hover {
	opacity: 1;
}

.clients-list-item:active {
	opacity: 0.1;
}

.sort-list-item a {
	opacity: 0.3;
}

.sort-list-item a:hover {
	opacity: 0.6;
}

.sort-list-item a:active {
	opacity: 1;
}

img {
	max-width: 100%;
	height: auto;
}














