body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

header {
	background-color: #eeeeee;
}

a {
	text-decoration: none;
	color: #000000;
}

.main-navigation {
	line-height: 30px;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.inner-top {
	background-color: #eeeeee;
}

.slider-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slider-text {
	line-height: 24px;
}

.slider-button {
	color: #ffffff;
	background-color: #fb565a;
	text-transform: uppercase;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.order-button {
	color: #ffffff;
	background-color: #fb565a;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
}

.about-us-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.order-title {
	font-weight: 700;
}

.numeric-data-title {
	font-weight: 700;
}

.numbers {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
}

.numbers-title {
	line-height: 18px;
	color: #283136;
}

.contacts h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.contacts p {
	line-height: 18px;
	color: #666666;
}

.write-us {
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}

.promo-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.promo-text {
	line-height: 22px;
	color: #444444;
}

.contact-form-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.contact-form label {
	line-height: 18px;
	font-weight: 700;
}

.contact-text {
	line-height: 18px;
	color: #444444;
}

.main-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.filter-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.slider-item {
	background-color: #eeeeee;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
}

.price {
	line-height: 22px;
	color: #283136;
}

.filter-grid-list label,
.filer-features-list label {
	line-height: 20px;
	color: #283136;
}

.sort-list-item {
	font-size: 14px;
	line-height: 18px;
}

.filter-submit,
.themes-page {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #eeeeee;
}

.themes-hover-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.themes-hover-text {
	line-height: 18px;
	color: #666666;
}



.slider-item-first {
	background-image: url("../img/slide1.png");
	background-position: right;
	background-repeat: no-repeat;
}

.slider-item-second {
	background-image: url("../img/slide2.png");
	background-position: right;
	background-repeat: no-repeat;
}

.slider-item-third {
	background-image: url("../img/slide3.png");
	background-position: right;
	background-repeat: no-repeat;
}

.themes-hover {
	background-color: #e1e1e1;
}

.site-navigation {
	list-style: none;
}

.slider {
	list-style: none;
}

.services-list {
	list-style: none;
}

.clients-list {
	list-style: none;
}

.themes-list-navigation {
	list-style: none;
}

.themes-list {
	list-style: none;
}

.social-networks-list {
	list-style: none;
}

.button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	color: rgba(255,255,255, 0.3);
	background-color: #d7373b;
}

.order-app {
	background-color: #00ca74;
}

.order-app:hover {
	background-color: #00bc6c;
}

.order-app:active {
	color: rgba(255,255,255, 0.3);
	background-color: #00aa62;
}

.order-presentation {
	background-color: #efc849;
}

.order-presentation:hover {
	background-color: #eab534;
}

.order-presentation:active {
	color: rgba(255,255,255, 0.3);
	background-color: #e5a722;
}

.slider-button:active {
	color: rgba(255,255,255, 0.3);
	background-color: #d7373b;
}

.social-networks-list a {
	background-color: #e1e1e1;
}
.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.3;
}

.site-navigation a:hover,
.basket:hover {
	color: #fb565a
}

.site-navigation a:active,
.basket:active {
	color: rgba(0, 0, 0, 0.3)
}

.site-navigation a:visited,
.basket:visited {
	border-bottom: 2px solid #fb565a;
}

.clients-list-item {
	opacity: 0.2;
}

.clients-list-item:hover {
	opacity: 1;
}

.clients-list-item:active {
	opacity: 0.1;
}

.sort-list-item a {
	opacity: 0.3;
}

.sort-list-item a:hover {
	opacity: 0.6;
}

.sort-list-item a:active {
	opacity: 1;
}